body {
    font-family: 'Roboto', sans-serif;
    background-color: #ff6600de; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(0, 0, 0); 
}

.container {
    width: 100%;
    max-width: 400px;
    background: white; 
    border-radius: 8px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #FF6600; 
}

.tasktodo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tasktodo input {
    flex: 1;
    padding: 10px;
    border: 1px solid #FF6600;
    border-radius: 4px;
    color: #333;
}

.tasktodo button {
    padding: 10px 10px;
    background-color: #005BBB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tasktodo button:hover {
    background-color: #004499; 
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #FF6600; 
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    color: #005BBB;
}

li .task-text {
    flex: 1;
}

li .buttons {
    display: flex;
    gap: 5px;
}

li button {
    background-color: #005BBB; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
}

li button:hover {
    background-color: #004499; 
}
